# ID do Cliente Google (Google Cloud Console OAuth 2.0 Client IDs)
GOOGLE_CLIENT_ID="seu-id-do-cliente-aqui.apps.googleusercontent.com"

# Segredo do Cliente Google
GOOGLE_CLIENT_SECRET="seu-segredo-do-cliente-aqui"

# A URL onde a aplicação está rodando (Por padrão no Streamlit é http://localhost:8501)
GOOGLE_REDIRECT_URI="http://localhost:8501"

# A API DO GEMINI
GEMINI_API_KEY=""